/**
 * Adds all the styles for the phase picker used in the building explorer.
 */
@mixin buildingPhasePicker() {
  .esri-building-phase-picker {
    --num-phases: 7; // Should be an odd number so that we can have a phase in the middle
    --divider-width: var(--calcite-spacing-xs);
    --container-width: 100cqw;
    --arrow-width: 16px;
    --padding: var(--calcite-spacing-xxs);
    --dividers-width: (var(--num-phases) - 1) * var(--divider-width);
    --arrows-width: 2 * var(--arrow-width);
    --phase-width: calc(
      (var(--container-width) - var(--dividers-width) - var(--arrows-width) - var(--padding)) / var(--num-phases)
    );

    container-type: inline-size;

    &,
    &__phases-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__phases-container {
      position: relative;
      flex-shrink: 1;
      padding: var(--calcite-spacing-xxs);
      overflow: hidden;
    }

    &__phase {
      appearance: none;
      flex-shrink: 0;
      border: solid var(--calcite-border-width-sm) $border-color;
      border-radius: 100%;
      background: var(--calcite-color-background);
      cursor: pointer;
      width: var(--phase-width);
      aspect-ratio: 1;
      color: var(--calcite-color-text-1);
      font-weight: $font-weight;

      &:hover {
        border-width: var(--calcite-border-width-md);
        border-color: var(--calcite-color-brand);
      }

      &:focus:focus-visible {
        @include calciteExternalOutline();
      }

      &--active {
        border-color: var(--calcite-color-brand);
        background-color: $background-color--active;
      }

      &--current {
        background-color: var(--calcite-color-brand);
        color: var(--calcite-color-text-inverse);
      }
    }

    // Force the arrows to have a fixed width so that we can properly calculate the width of the
    // container in order to center the phases and decide their size.
    &__arrow-left,
    &__arrow-right {
      width: var(--arrow-width);
      min-width: var(--arrow-width);
    }

    &__divider {
      flex: 0;
      background: var(--calcite-color-border-1);
      min-width: var(--divider-width);
      height: var(--calcite-border-width-sm);

      &--active {
        background-color: var(--calcite-color-brand);
      }
    }
  }
}
